/* .van-dropdown-menu__title{
  font-size: 0.4rem;
  line-height: 0.4rem;
  padding: 20px 20px 20px 0px;
}

.van-cell{
  font-size: 0.4rem;
  line-height: 0.8rem;
}
.van-cell__title{
margin-left: 36px;
} */
